* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;
}

body {
    scroll-behavior: smooth;
    background: var(--gray);
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    color: var(--white);
    font-size: 3em;
}

.subtitle {
    margin-top: 0.1em;
    color: var(--red);
    font-size: 1.5em;
}
