* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    color: var(--white);
    font-size: 4em;
}

.subtitle {
    color: var(--red);
    font-size: 2em;
}
